# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore package files
*.jar
*.war

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Java-specific files
target/
bin/
.fake